.countdown-clock {
  align-items: center;
  display: flex;
  font-size: 10px;
  min-height: 8em;
  padding: 2em 0;
  justify-content: center;

  @include breakpoint(mobile-xl) {
    font-size: 14px;
  }

  @include breakpoint(tablet) {
    font-size: 16px;
  }

  @include breakpoint(desktop-xl) {
    font-size: 20px;
  }

  &--label-top {

    .clock {
      margin-top: 2em;
    }

    .clock__label {
      top: -2em;
    }
  }

  &--label-bottom {

    .clock {
      margin-bottom: 2em;
    }

    .clock__label {
      bottom: -2em;
    }
  }

  &--complete {

    .clock {
      opacity: .5;
    }
  }
}

.clock {
  align-items: center;
  display: flex;
  height: 4em;
  justify-content: center;
  margin: 0 .25em;
  min-width: 6em;
  opacity: 1;
  position: relative;
  transition: all 1s ease-in-out;

  &__digit-separator {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      background-color: #000;
      border-radius: 50%;
      display: block;
      height: .5em;
      width: .5em;

      &:first-child {
        margin: 30% 0;
      }

      &:last-child {
        margin: 30% 0;
      }
    }

    .countdown-clock--label-top & {
      margin-top: 2em;
    }

    .countdown-clock--label-bottom & {
      margin-bottom: 2em;
    }
  }
}

.clock__digit {
  animation-name: fadeOpacity;
  animation-delay: .25s;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  color: #000;
  font-size: 3em;
  opacity: 0;
  user-select: none;
}

.clock__label {
  color: rgba(0, 0, 0, .75);
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
}

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
