$flip-label-color: #fff;
$flip-digit-separator-color: #666;
$flip-digit-value-color: #fff;
$flip-digit-gap-color: #444;
$flip-digit-bg-color: #666;
$flip-digit-border-radius: 1em;

// Flip version of countdown timer
[data-is-flip-clock='true'] {
  font-family: 'Roboto Slab', serif;

  .clock {
    background-color: $flip-digit-bg-color;
    border-radius: $flip-digit-border-radius;
    height: 8em;
    padding: 0 .25em;
    position: relative;
    min-width: 8em;

    &__label {
      color: $flip-label-color;
    }

    &__digit {
      color: $flip-digit-value-color;
      font-size: 5em;
    }

    &__digit-gap {
      position: absolute;
      width: 100%;
      background-color: $flip-digit-gap-color;
      height: .1em;
      z-index: 1;
    }

    &__digit-flip {
      animation: flipCard .25s cubic-bezier(.95, .05, .4, .75) forwards;
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 50% 100%;
      transform: rotateX(0deg);
      transform-style: preserve-3d;
      width: 100%;
      z-index: 2;
    }

    &__digit-flip-front,
    &__digit-flip-back {
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;

      div {
        align-items: center;
        background-color: $flip-digit-bg-color;
        border-radius: $flip-digit-border-radius;
        display: flex;
        justify-content: center;
        height: 200%;
        position: absolute;
        width: 100%;
      }
    }

    &__digit-flip-back {
      transform: rotateX(180deg);

      div {
        bottom: 0;
      }
    }

    &__digit-bottom {
      background-color: $flip-digit-bg-color;
      border-bottom-left-radius: $flip-digit-border-radius;
      border-bottom-right-radius: $flip-digit-border-radius;
      height: 50%;
      left: 0;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;

      div {
        align-items: center;
        display: flex;
        height: 200%;
        justify-content: center;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }

    &__digit-separator {
  
      span {
        background-color: $flip-digit-separator-color;
        border-radius: 50%;
        height: 1em;
        width: 1em;

      }
    }
  }
}

@keyframes flipCard {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(180deg);
  }
}
