.countdown-clock--discs {

  .clock {
    background-color: rgb(238, 77, 152);
    border-radius: 50%;
    height: 7em;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 7em;

    &__digit {
      color: #fff;
      font-size: 2em;
    }

    &__digit-separator {
      display: none;

      span {
        display: none;
      }
    }
  }
}
