.countdown-clock {
  align-items: center;
  display: flex;
  min-height: 8rem;
  padding: 2rem 0;
  justify-content: center;

  &--label-top {

    .clock {
      margin-top: 2rem;
    }

    .clock__label {
      top: -2rem;
    }
  }

  &--label-bottom {

    .clock {
      margin-bottom: 2rem;
    }

    .clock__label {
      bottom: -2rem;
    }
  }

  &--complete {

    .clock {
      opacity: .5;
    }
  }
}

.clock {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin: 0 .25rem;
  min-width: 6rem;
  opacity: 1;
  position: relative;
  transition: all 1s ease-in-out;

  &__digit-separator {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      background-color: #000;
      border-radius: 50%;
      display: block;
      height: .5rem;
      width: .5rem;

      &:first-child {
        margin: 30% 0;
      }

      &:last-child {
        margin: 30% 0;
      }
    }

    .countdown-clock--label-top & {
      margin-top: 2rem;
    }

    .countdown-clock--label-bottom & {
      margin-bottom: 2rem;
    }
  }
}

.clock__digit {
  animation-name: fadeOpacity;
  animation-delay: 1s;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  color: #000;
  font-size: 3em;
  opacity: 0;
  user-select: none;
}

.clock__label {
  color: rgba(0, 0, 0, .75);
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
}

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
